[2017-12-17 19:45] ababaian opened #1 "File Format Compatibility Matrix"
File format and software port compatibility matrix for bioSyntax.

|   | status            |
|---|:------------------|
| X |   Syntax Complete |
| o |   In Development  |
| - |   Unavailable     |
| * |   Bug Fix Needed  |

## Core Syntaxes

| File Format | Description                 | sublime | vim | gedit | less |
|:------------|:----------------------------|:-------:|:---:|:-----:|:----:|
| .f

[2017-12-17 19:49] ababaian opened #2 "bioSyntax TODO"
A collection of tasks to improve bioSyntax. Feel free to tackle any of these if you'd like to pitch in.

### Features

- [ ] Add Atomic Coloring. [JMol](http://jmol.sourceforge.net/jscolors/) / [CPK](https://en.wikipedia.org/wiki/CPK_coloring) coloring to atoms/elements when they appear in a file-format (PDB).

- [ ] Set-up Vim / Sublime / Gedit to only use bioSyntax theme when a bioSyntax format

[2017-12-23 21:33] ababaian opened #4 "sam-gedit Language File. Add style definitions"
Hey @lazypanda10117,

I'm going over and doing some minor bug-fixes in the color-schemes across different ports.

The `sam-gedit` [language definition](https://github.com/bioSyntax/bioSyntax/blob/master/gedit/sam.lang) file is missing it's <style> definitions. (See: [gtf.lang Lines 19-55](https://github.com/bioSyntax/bioSyntax/blob/master/gedit/gtf.lang))

Also on Line 12 and Line 19 `id=biosyntax

[2017-12-26 12:01] Shengqian95 opened #6 "About Vim highlight"
I downloaded bioSyntax-0.1-beta2.zip and unzipped it. Then I run the command: `bash  bioSyntax_SETUP.sh vim`, it telled me  that "Installation successful. Restart vim and you will now have pretty  formats! Thank you for your support!"  But I excuted the command below: `vim 01_1.fq`, nothing has changed before bioSyntax-0.1-beta2 was downloaded, and I haven't figured it out. I'll appreciate it if y

[2017-12-26 18:05] ababaian commented on #6
We're still working out the installation script; try manually installing bioSyntax
http://biosyntax.org/install#vim

Please provide what operating system you have and which version of vim are you using?

[2017-12-27 01:52] Shengqian95 commented on #6
I also ran the commands in manual http://biosyntax.org/install#vim, but it doesn't work well. These are information below about my operating system and the version of vim I'm using:
Linux ubuntu 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Nov 24 2016 16:44:48)
THANK you~

[2017-12-27 02:06] ababaian commented on #6
Is there any highlighting at all when you open a fastq file? What if you open another type of file like .html, is there colors in vim besides black and white?

[2017-12-28 08:49] ababaian commented on #6
Is it working with the new instructions @Shengqian95?

[2017-12-30 23:08] ababaian opened #7 "Sublime: Automatically apply bioSyntax.theme when opening bio-format."
It would be nice to not force users to use one global theme in Sublime when installing/using bioSyntax but use the syntax-settings to change to the bioSyntax.tmTheme for only those formats.

See: [Commit](https://github.com/bioSyntax/bioSyntax/commit/db2c463b684591214fb84704e4e2627aa7f3fd50)

I've gotten this working on Linux, we'll need to test it on other systems before deployment. The installer

[2017-12-31 07:45] ababaian opened #8 "Submodulize bioSyntax-sublime & bioSyntax-vim"
I've started a branch `submodules2` where I'm working on restructuring bioSyntax a little bit. We'll retain bioSyntax as the main development repo but the `vim` and `sublime` folder are going to be changed to submodules (nested repositories).

vim/ --> bioSyntax-vim
sublime/ --> bioSyntax-sublime

This will make vim installation via pathogen and sublime package manager much easier. A submodule is

[2017-12-31 07:47] ababaian commented on #7
Since this and the submodules are quite big changes; all work on implementing the changes above for sublime should be done on the `submodules2` branch of bioSyntax.

[2017-12-31 14:42] Ebedthan commented on #8
Ok @ababaian

[2018-01-02 23:34] jrjhealey opened #10 "Request for nano support"
Hi all,

This looks like a really cool tool. I'm sure you have a long list of tools you'll add support to, but I'd like to particularly request `nano`/`pico`. As a POSIX standard tool, it's my personal favourite editor for quick and dirty work (and I've never taken the plunge to learn `vi/`vim`!)

Thanks

[2018-01-03 00:13] ababaian commented on #10
Hey @jrjhealey; I think `nano` would be a perfect port. The colour options are a little bit limited but as shown with `less`, as little as 16 colors can go a very long way in improving readability.

We'll leave this as an open issue and let anyone interested take it up. I'd recommend starting to do the research and outlining how to write syntax files (i.e. like our dev page) to help get people on

[2018-01-03 05:47] #6 closed

[2018-01-03 05:49] ababaian commented on #4
Thanks @lazypanda10117  =D Looks good!

[2018-01-03 05:49] #4 closed

[2018-01-04 06:34] ababaian commented on #2
# Completed Tasks

- [x] 3) Re-write the `bed-gedit` syntax to use ['Robust Column Selection'](https://github.com/ababaian/bioSyntax/issues/17) [Jeff]

- [x] 12) sam-less. In the sequence section, if the chromosome/contig contains "-" characters, it throws off the column index. Fix regex selection. [ Artem TALL].

### Installer beta3 updates:
- [x] For less: inform user and prompt (Y/N) for softwa

[2018-01-04 08:07] ababaian opened #12 "2-shade Chromosome Coordinates"
I'm not sure how I feel about this but it does it make helpful. Pretty much the idea is to tweak the shade of the digits in a chromosome coordinate to make it easier to read. It's not feasible to add spaces or commas between the digits i.e. chr15:123456789 --> chr15:123,456,789 --> chr15:123 456 789

Here it is on a test bed file in sublime. Open to suggestions or ideas.

Million columns shaded
![

[2018-01-04 14:12] Ebedthan opened #13 "Port to nano/pico"
Hey everybody

I have choose to invest my last night in writing syntax highlighting for nano/pico. I an writing the manual for develop nano syntax highlighting.

Take a look at what i have done so far.
![image](https://user-images.githubusercontent.com/17315349/34567206-2b77e99e-f159-11e7-8892-b576e902def4.png)
I thinks i will finish porting tonight.

[2018-01-04 17:38] ababaian commented on #10
Looks like someone is taking up the cause @jrjhealey. If you have some free time consider pitching in ;)

https://github.com/bioSyntax/bioSyntax/issues/13

[2018-01-04 17:38] #10 closed

[2018-01-04 17:51] ababaian commented on #13
Looks great @Ebedthan, can you start a git-branch called `nano` while you're working on this so that things are not pushed to master (which is for releases). Once all core-nano syntaxes are finished we can merge the nano branch with master.

[2018-01-04 19:04] Ebedthan commented on #13
ok @ababaian

[2018-01-04 19:05] Ebedthan commented on #13
ok @ababaian

[2018-01-04 21:04] nzachow opened #14 "Fasta syntax"
I'm curious, what is the reasoning behind the chosen fasta syntax ?

IMHO this syntax would be great for a diff tool but not so much for browsing large collections of nucleotides sequences.

Please don't get me wrong, I **really** liked this project!

[2018-01-04 21:13] ababaian commented on #14
The fasta format is what actually started this project. I was doing manual contig assembly over a very difficult to assemble sequence (ribosomal DNA) and this meant having to align and edit sequences by eye. It was a nightmare until I could add syntax highlighting and read/write the sequence much more efficiently.

It's obviously not applicable for every use-case, but what I have subsequently foun

[2018-01-04 21:52] Ebedthan commented on #13
@ababaian i think we can't define new colors in nano. My research don't gave me results as expected. If you have any informations on how to add colors in nano for syntax highlighting, please let me know.
So far with colors set in nano we can't define colors for many files.

[2018-01-04 21:56] ababaian commented on #13
It's probably ANSI escape colors and/or System colors. Less and even terminal-vim has the same issue but even partial coloring with 16 colors is much better then nothing at all.

We just have to work within the framework of what is possible. With just Red / Green / Blue / Orange / White / Black and Bold / Italics and Background / Foreground you can accomplish about 90% of the functionality of bioS

[2018-01-04 22:00] Ebedthan commented on #13
Ok I take a look.

[2018-01-04 22:34] nzachow commented on #14
That is really clever, I never thought that someone could actually make sense of these large sequences.

For my workflow something like a 'fasta-lite' syntax would be more helpful.
What I have in mind is a colour scheme where the sequence identifier is clearly visible but the actual sequence only have a minimal highlight with alternating colours every 3 bases.

What do you think about this idea ?

[2018-01-04 23:00] Ebedthan commented on #13
Please @ababaian could you let me know the link to the excel spreadsheet ?

[2018-01-04 23:50] ababaian commented on #14
I'd say draft it up and share some screenshots. Let's see how creative you can get. A large part of this project has been exploring different and new ways of parsing the same information. If you think it's useful then other people may find it useful too!

I think since FA files are all organized into columns, adding a very slight accent or highlight to every 3rd or every 9th nucleotide and keep ev

[2018-01-04 23:52] ababaian commented on #13
`dev/theme/bioSyntax_theme.xls` [link](https://github.com/bioSyntax/bioSyntax/tree/master/dev/theme)

[2018-01-05 04:07] ababaian commented on #12
I think settling on every 3rd digit is good, going over a bunch of real data it ends up looking really organized.

![2shade_chr](https://user-images.githubusercontent.com/9220907/34595141-6346bda6-f18a-11e7-9f51-89cefbde2c2f.png)

I'll have to add a `chrStart2` to each respective theme for this: it's `#00d75f`

I think this is the most important in BED/GTF initially, and if people find it useful w

[2018-01-05 10:45] nzachow commented on #14
My first idea was to use alternating colours every 3 chars but it wasn't much helpful.

![First](https://user-images.githubusercontent.com/891188/34602977-c6250ba2-f1e0-11e7-8e80-9bd0e2696038.png)

After that I went with your idea and highlighted every 10th char.

![Second](https://user-images.githubusercontent.com/891188/34602976-c5faa42a-f1e0-11e7-9e0f-54c15f156b59.png)

This second approach was

[2018-01-05 19:31] ababaian commented on #14
That looks pretty snazzy; while every 10th does sort of make sense for our decimal system I think every 9th is more biological as it breaks down each chunk of sequence into a triplet of codons. i.e. columns 1,10,19,28,37,46,55.

This discussion raises what is probably the more important point: it would be best if you can change a single variable in the theme file and let the user decide which numb

[2018-01-08 17:54] ababaian commented on #13
How is it coming along @Ebedthan? Do you have guidelines / instructions on the work-flow?

[2018-01-08 19:53] nzachow commented on #14
Nice !
I definitly agree with your point about user choice.

One thing I'm not sure about is where to put the documentation.
For example, in this syntax we probably will have a boolean for _biological_ or _decimal_
highliting and I feel we should have a standard place to put detailed description for every
option and how they all(if it's the case) interact. Maybe even some use cases.
I could embeed

[2018-01-08 22:02] ababaian commented on #14
I think the idea is to include all this usage information in the main `alt-syntax/README.md` as the 'description'. That way it's displayed on github when that README is opened and I can use the same markdown file as a web-page on the site once there's a collection of user definitions.

[2018-01-09 03:42] Ebedthan commented on #13
Hey @ababaian

Yes i have instructions.
First you need to create a `*.nanorc` file defining syntax highlighting.
Secondly you need to copy this file to `/usr/share/nano/` and to `~/.nano/syntax/` (the first path should also contains  `.nanorc` files by default for others languages such as php, perl, etc., they don't need to be copied to `~/.nanorc/` file but the following step should be done to se

[2018-01-09 07:40] ababaian opened #15 "gedit-gtf: Use Robust Column Selection"
Hey @lazypanda10117

When you get a chance; the **gedit-GTF** syntax file doesn't use complete/correct column selection. See below, the strand column's TAB is incorrectly selected. Can you take a look when you get a chance please?

![gedit-gtf_180108](https://user-images.githubusercontent.com/9220907/34709658-edcbe6dc-f4cc-11e7-8ef2-64f9232d399d.png)

[2018-01-09 07:46] ababaian commented on #13
KK Anicet, I've copied your instructions to the top of the post to organize the information a bit. Keep us all updated about your progress with the pico syntaxes or if you run into trouble :+1:

[2018-01-09 17:00] #12 closed

[2018-01-10 19:37] Ebedthan commented on #13
ok @ababaian

[2018-01-12 02:15] Ebedthan commented on #13
Hello everybody,
I have create the `nano` branch. Add fasta and fastq.nanorc files. Follow instructions above in the first comment to test it on your computer.

[2018-01-13 13:57] lazypanda10117 commented on #15
Sure, I will try to fix them by next week:D

[2018-01-16 07:56] ababaian commented on #13
Hows it coming along Anicet? Maybe one of the other @bioSyntax/devs can help out? This syntax format looks pretty tricky with the limitations. Have you found any good online guides on writing in-depth syntax files?

[2018-01-16 07:59] ababaian commented on #7
Bump @alyeffy, would you be able to test the installer on Windows/Mac. I've updated it a bit over the holiday.

[2018-01-16 08:04] Ebedthan commented on #13
Yes @ababaian i have uploaded works i'vé already finish on the nano branch. Take a look. I will upload guidelines today.

[2018-01-16 17:43] alyeffy commented on #7
Right. I'll get on it!

[2018-01-17 09:27] Ebedthan commented on #13
![image](https://user-images.githubusercontent.com/17315349/35035002-e040293c-fb67-11e7-96be-a944eb64f323.png)
Hey everybody

![image](https://user-images.githubusercontent.com/17315349/35035040-f70d48e8-fb67-11e7-9eb7-3760ac392833.png)

![image](https://user-images.githubusercontent.com/17315349/35035144-509afca2-fb68-11e7-82c7-069b4ecaffb7.png)

I have finished with bed, fasta and fastq syntax.

[2018-01-17 09:30] Ebedthan commented on #13
Some helpful links
https://gist.github.com/mattcurrycom/9d692d5dbb758e0724881e2c4fb03ef4
https://github.com/AbhishekGhosh/nano-syntax-highlighting-iNano-/
https://askubuntu.com/questions/90013/how-do-i-enable-syntax-highlighting-in-nano

[2018-01-18 19:58] ababaian commented on #14
Hows it going @nzachow? Anything we can help with?

[2018-01-19 08:38] alyeffy commented on #7
@ababaian So the installer on Mac works for less and sublime. It's not working for vim right now because of a permission error, which is weird because this was never an issue with vim previously. Even after adding sudo before all the cp's and chmod's, the permission error is still there. I'll figure it out and test it on Windows soon.

It's also worth mentioning (because I didn't see it in the ins

[2018-01-19 08:50] ababaian commented on #7
Heya, you're up late too : ).

That's weird. No permission errors on linux. Try throwing in a bunch of descriptive `echo` commands for debugging to see when the error is being thrown (i.e `echo copying over $theme`...), the vim folder shouldn't have any permission restrictions to begin with since it's in `~/.`

Adding a very short `Cloning / Forking bioSyntax` to the install page would be a good i

[2018-01-23 07:21] ababaian commented on #7
Note to self: Downloading sublime package off of package control doesn't work at the moment. In the `sublime-settings` files need to change `Packages/User/bioSyntax.tmTheme` to `Packages/bioSyntax/bioSyntax.tmTheme`

This means that the manual installer also needs to be changed everywhere to install bioSyntax at `~/.config/sublime-text-3/Packages/bioSyntax/*` instead of `user/*` as it is now.

[2018-01-23 21:42] Ebedthan commented on #13
Hey @ababaian, since Valid colors in nano are white, black, red, blue, green, yellow, magenta, cyan.
 And for foreground colors, the use of the prefix "bright" to get a stronger highlight are the only ways to define syntax highlighting, i have found difficult to define syntax for sam, gtf, pdb files for examples.

[2018-01-23 21:48] ababaian commented on #13
Start with GTF which is the simplest from that list. Can you get a Robust Column Selection regular expressions defined, that's more important then all the color details.

If you're able to write the logic in nano to arbitrarily select columns I'll be able to define a color scheme which works within the palette available. It may not be a perfect match but `less` only uses about 8 colors too and it

[2018-01-23 22:06] ababaian opened #17 "bioSyntax Meet-up I"
Hey @bioSyntax/devs + everyone,

Hope everyone had a great holiday and start to the new year. We've accumulated a little bit of tasks and there's a few open issues which we should work to fix up. So far things have been going really well; the feedback has been positive so let's keep up the momentum so when the publication comes out we can put out a mature `v0.1` release that's bug-free.

We'll kee

[2018-01-31 01:56] #8 closed

[2018-01-31 05:52] #17 closed

[2018-02-23 19:11] #14 closed

[2018-02-23 19:12] ababaian commented on #15
Hey Jeff;

Hows it coming along?

A

[2018-02-23 19:12] #7 closed

[2018-02-27 05:16] lazypanda10117 commented on #15
Hi Artem,
Sorry, I forgot about it after midterms :(. Currently quite busy these few days, so I  will most likely finish it by the end of week!

[2018-02-27 18:10] ababaian commented on #15
:+1:

[2018-03-02 20:55] lazypanda10117 commented on #15
Fixed now :D

[2018-03-04 18:16] #15 closed

[2018-03-09 16:05] ababaian opened #19 "Reviews Meeting -- March 15th"
Meeting to discuss the main review points, rebuttals and moving forward.

Date: Thursday March 15th
Time: 5:30 pm
Place: BCCRC

## Agenda

### Development

- Development for Pico
- Other Dev issues

### Mozilla Sprint -- May 10 - 11 (Alyssa Lead)
- Update / Info
- [Project Link](https://github.com/mozilla/global-sprint/issues/154)
- [ TODO List ](https://github.com/bioSyntax/bioSyntax/issues/2) /

[2018-03-13 00:01] lazypanda10117 commented on #19
Hi Artem, can I join remotely for this meeting?

[2018-03-13 00:10] ababaian commented on #19
Of course, we can try skype and/or discord in a pinch. Maybe we call you in at 5:20 then so we can start promptly at 5:30.

[2018-03-16 00:00] ababaian commented on #19
@lazypanda10117 What's your skype ID?

[2018-03-16 00:59] lazypanda10117 commented on #19
jeffreykam-0415, thanks!

On 15 Mar 2018, 20:00 -0400, Artem Babaian <notifications@github.com>, wrote:

[2018-03-16 01:02] Jwong684 commented on #19
Simple survey to show usability:
Survey questions:
1) Which text editors/pagers do you use for reading biological formats?

2) What biological files do you look at commonly (in the last 12 months)?

3) What other editors or biological files would you like to see in the future?

4) How difficult was it to install bioSyntax?
1-10
5) Which part was hard to install?

6) Do you use syntax highlighting

[2018-03-16 01:03] Jwong684 commented on #19
Hey Jeff, I can't find you on skype. Add me instead: jasperwong_123@hotmail.com

[2018-03-16 01:59] lazypanda10117 commented on #19
Hi Jasper, I think I have added you on Skype now?

[2018-03-18 07:07] alyeffy opened #20 "Develop a brew formula"
[Homebrew](https://brew.sh/) is a really useful package manager for MacOS that's used extensively. To make the installation of bioSyntax easier for vim/less/gedit, we could develop brew formula to enable installation by running just one command in the terminal.

There's [documentation](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md) for developing a formula on their GitHub.

[2018-03-18 07:22] alyeffy opened #21 "Develop a Linux Ubuntu package for Launchpad"
[Launchpad](https://launchpad.net/ubuntu) is a software collaboration platform that has a large Ubuntu project community where people can create, host, and use other Ubuntu packages, as well as report and fix and bugs along the way. Putting together a bioSyntax package on Launchpad will make the installation process for Linux Ubuntu systems a lot easier, especially for the less/gedit text editors.

[2018-03-18 07:37] alyeffy commented on #19
Questions to add to the survey (for Mozilla Sprint development):
1. If applicable, which text editors/IDEs do you use and are there any that you would like to be compatible with bioSyntax?
2. What are some features that you think would be useful for your work (or specific file formats) if bioSyntax incorporated them?
3. If any, what other file formats (including non-biological) would you like to h

[2018-03-18 07:44] alyeffy opened #22 "Test and report bugs for Windows installation"
Test the current installer script and report any potential bugs if found. These bugs can be worked on during the Mozilla Sprint. Also consider developing a [Chocolatey package](https://chocolatey.org/docs/features-create-packages-from-installers) to make the overall process easier.

[2018-03-21 21:00] Dybian commented on #21
Hi,
I started to package bioSyntax for the [Debian Med project](https://wiki.debian.org/DebianMed). It works for gedit but it needs more work for less.

[2018-03-21 21:46] ababaian commented on #21
That's awesome @Dybian!

If you run into any problems please let me know, I've been trying to streamline the less installation for a while. I'll update the instructions on the website tonight but I've managed to have all the biosyntax specific files be installed in the users home folder as opposed to in the source-highlight folder which requires sudo permissions. I would love to help in any way.

[2018-03-22 22:06] lazypanda10117 opened #23 "Manuscript Revisions -- Research and Notes"
Some questions and topics to delve in:
1)How does syntax highlighting improve comprehension, readability, and performance on data related tasks?
2)Research on how people with Synesthesia perform on data comprehension tasks and compare the results to that of normal people.
3)Biological perspective: How does our color perception come into being? Is color perception (in particular, quick recognition

[2018-03-23 09:14] Dybian commented on #21
Hi,

I created a repository for the package development here [1]. If you
want to be involved you are more than welcome :-) you just need to
create an account on Salsa (our GitLab instance) and have a look to
our team policy [2]. It is always better when upstream devs are
involved in packaging because they know the software better than
maintainers.

The package installs biosyntax at the system-leve

[2018-03-23 20:15] Dybian commented on #21
The package is almost ready except that I just remarked the tarball from https://github.com/bioSyntax/bioSyntax/archive/v0.1-beta4.tar.gz contain an empty vim folder. Is it possible to fix that to allow me to finish the package for the vim plugin.

[2018-03-23 21:10] ababaian commented on #21
So this is a quirk of github, since the vim package is itself a sub-module of the bioSyntax-vim repo, you need to use the `https://github.com/bioSyntax/bioSyntax/releases/download/v0.1-beta4/bioSyntax-0.1.beta4.zip` download link which is packaged to contain all 4 bioSyntax sets.

The auto-generated package on github doesn't do submodules be default and there's no way to change that behavior so we

[2018-03-26 19:19] Jwong684 commented on #19
Hi all,

I have tried a number of survey tools, and it seems that the only ones that have timers per question are the ones that require a subscription fee. (I cannot find a free online tool that lets you do so; if you know of any, let me know). The best one I have found so far is survey crest, though the timer is based on the whole quiz instead of per question. I adapted to this by generating this

[2018-03-27 16:25] ababaian commented on #19
Hey @Jwong684 I think that survey is too complicated and all the BW and all the color images are segregated. @fransilvion said he'll look into it as well.

I love the graphics and the questions though, it took me quite a while to figure them out in BW. Definitely proved it to myself.

[2018-03-27 19:44] alyeffy commented on #19
I think the graphics and questions are great too. It might be helpful to ask the user how helpful they think syntax highlighting will be for their work before they do the test, and ask them that question again after they do the test.

As for timed surveys, maybe check to see if Google Forms have an add-on for timed questions that you could use, or timed pages and put the test questions on a differ

[2018-03-28 17:08] Jwong684 commented on #19
Thanks for giving it a trial run guys. I realized that the data file that SurveyCrest gives doesn't collect the time for the surveys, so I would need to manually scroll through every response for the times. Are there any questions on the survey you wanted to modify/add/remove? I think a max limit of 10 questions is a good aim.

The main limiting factor at the moment is finding a free survey platfo

[2018-03-29 18:28] ababaian opened #24 "bioSyntax Review Meeting #2"
Hey Gang;

Sorry about being AWOL these last couple of weeks. Grant is in and I'm free again!

Let's meet next week and get a definitive plan and timeline in place to do this! I'm stoked to get to do real work again :D. Please add any relevant information to your sections below to update the team

[Meeting Poll](https://dudle.inf.tu-dresden.de/bsmeet2/)

## Agenda

### MozSprint (@alyeffy)
-

###

[2018-03-30 06:02] Dybian commented on #21
Hi,
Some news, the package is in the Debian NEW queue [1], it will be verified
by a FTP master before to go into official Debian repository. This step can
take some hours up to some months, depending of FTP master availability.
Once accepted it will be propagated to derived Debian distributions (e.g.
Ubuntu and so on). This is probably too late for the next Ubuntu LTS, but
it is still possible to

[2018-04-06 02:38] alyeffy opened #25 "Develop built-in help manuals for existing packages"
Currently, learning about the features of bioSyntax and what they translate to involves looking through the [manual](https://biosyntax.org/man) on our site. If we could package this together with the installation, I think users would be a lot more willing to learn it, especially if we could create custom help text within the editor. e.g. with vim we could possibly [incorporate the manual into the

[2018-04-06 02:53] alyeffy opened #26 "Port to Atom"
All the cool kids are using Atom now. If we managed to make a good chunk of the syntax files within 3 days during the hackseq hackathon, I think [doing the same](https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/) just for an open-source editor like editor should be very doable for the sprint.

[2018-04-06 03:12] ababaian commented on #24
## Clustal Images

For the survey @Jwong684

![clustal_snp_bw](https://user-images.githubusercontent.com/9220907/38401951-aac32348-390d-11e8-9b65-d2e1ba05e658.jpg)

![clustal_snp_colr](https://user-images.githubusercontent.com/9220907/38401956-af6b76de-390d-11e8-92a4-ecd2328039f3.jpg)

[2018-04-06 22:40] Jwong684 commented on #24
https://goo.gl/forms/YO89fEPw71JpH3Ac2

I will be sending this survey around my labmates. Let me know if you notice any issues.

[2018-04-06 23:40] ababaian commented on #24
Nice =D

My thoughts:

Question 2:
- Instead of `Other:_____________` in Question 2. Can you add an optional Question after asking which other biological file formats do you use, please list them comma separated.
- Alphabetize the options in Question 2

Also both of those images are a little bit difficult to read on my screen as the text is small. Would you be able to make it at least a visible 12

[2018-04-06 23:53] Jwong684 commented on #24
In question 2, people have been filling out other biological formats they use already in the Other:______ box, comma separated, so I think it'll be fine. I reordered the options.

I think for the simple purpose of "which image is easier to read?", it gets the point across - and that goes hand-in-hand with "which do you prefer?". There might be the odd user who prefers the image that is less easy t

[2018-04-06 23:59] ababaian commented on #24
I wouldn't say that the two go hand in hand and they are probably correlated but not dependent on one another. If users find bioSyntax easier to read but still prefer non-bioSyntax then that is exactly the kind of feedback which we need. Forget about the reviewer expectations or trying to show something convincing, what we want is ground truth so that we can improve project development.

There's a

[2018-04-07 00:15] Jwong684 commented on #24
Alright, I've included it as an additional question

[2018-04-07 17:36] ababaian commented on #24
What do you all think about also asking for emails (optionally at the bottom) so that we could send follow-up questions if they arise? We can promise there will be no promotional or 'newsletter' type emails, just a follow-up question or two if they arise.

[2018-04-07 19:41] alyeffy commented on #21
Hi @Dybian,
Thank you so much for doing all of this. I think option 3 would be the best at this point so that it's at least available for use as soon as possible. Would you mind spearheading that as well? We'd really appreciate it :)

[2018-04-08 06:53] alyeffy opened #27 "Expand bioSyntax to other (non-biological) file formats"
If anyone is interested in enabling syntax highlighting for other dense file formats with raw data that they would like to read and comprehend easier, let us know and this could be something we could work on during the Mozilla Sprint.

[2018-04-08 21:35] #19 closed

[2018-04-08 21:51] ababaian commented on #23
Hey @lazypanda10117 + all,

I've drafted the rebuttal letter, please review and put down your edits / comments where this can be improved. I've highlighted the sections which we'll each need to complete (relating to your task).

### [Rebuttal Letter](https://docs.google.com/document/d/1BFd27H4dsNpjfiQnJqNUEA-V6HtTtfWQlGwYBD12XKw/edit?usp=sharing)

[2018-04-09 07:49] Dybian commented on #21
Hi,

I created the bioSyntax team on launchpad [1]. Could someone from the team
asks to join the team on launchpad, I will give the admin rights. I will
push first packages for still maintained LTS Ubuntu versions but I will not
be able to maintain this PPA for long term. I can explain you how to push
new versions, it is quite easy ;-).

Best,
Dylan

[1] https://launchpad.net/~biosyntax

[2018-04-10 20:52] Jwong684 commented on #24
Hey guys,

Try to send out the survey link to any computational biologist/bioinformatician you know. I'm keeping a record of the number of responses in my previous comment. I think a good goal is to get up to 50 people to respond by this week.

[2018-04-10 22:56] ababaian commented on #24
So the pilot is good @Jwong684, no-one had any confusion or misunderstanding with any of the questions?

[2018-04-10 23:02] Jwong684 commented on #24
@ababaian Yes. The questions to test for readability and efficacy were straight-forward to all. There were some questions about what bioSyntax actually was.

[2018-04-10 23:06] ababaian commented on #24
That's fair and expected. Sounds good let's do this!

[2018-04-11 16:12] ababaian commented on #24
@alyeffy @GuangchuangYu @Ebedthan @fransilvion  if you all can share the link to the survey with people in your circles it would help use hit 50 =D

[2018-04-12 03:49] ababaian commented on #21
Sweet thanks Dybian! @alyeffy you got this or do I?

[2018-04-12 08:06] alyeffy commented on #21
@Dybian Thanks, I've requested to join!

[2018-04-12 19:48] Jwong684 commented on #24
Oh wow. We've hit 61 responses so far. I think we could perhaps even get up to 100 then.

[2018-04-12 22:05] alyeffy commented on #25
Yeah, including information on the general structure of each of the file types would be helpful too, so it's a one-stop resource and people don't have to look up the structures of the files to use bioSyntax as well.

[2018-04-15 22:00] Dybian commented on #21
The PPA contains packages for Bionic, Artful, Xenial, and Trusty. I was unable to test them, so reports are welcome.

[2018-04-25 08:00] Jwong684 opened #30 "Survey Results"
Participant information:
![image](https://user-images.githubusercontent.com/22081472/39225075-35982b26-47ff-11e8-955d-fe659437b98c.png)

What biological/scientific files do you open and look at regularly (in the last 12 months)?
![numfiles](https://user-images.githubusercontent.com/22081472/39226411-2f17dbea-4807-11e8-8b39-750a6cb39ef2.png)

When you open up a biological file, which text editors d

[2018-04-26 09:12] Dybian commented on #23
I don't know if it is useful for the rebuttal letter but now bioSyntax is referenced by the 3 biggest bioinformatic tools registries: OMICtools [1], bio.tools [2] and SciCrunch [3]. I pushed it on the last two.

[1] https://omictools.com/biosyntax-tool
[2] https://bio.tools/bioSyntax
[3] https://identifiers.org/rrid/RRID:SCR_016207

[2018-04-27 19:10] #23 closed

[2018-04-27 19:12] ababaian commented on #30
Looks great @Jwong684, can you provide a quick summary + quantification of the written comments at end as well? I think the over-all number 1 feature is looking for more color schemes so something we should focus on at MozSprint.

[2018-05-04 20:56] alyeffy commented on #22
UPDATE: Windows Installer + Uninstaller works (best if used with Git Bash). However, vim syntax highlighting is not showing up for some reason.

[2018-05-09 04:48] alyeffy opened #32 "Port to VSCode"
By popular request from [/r/bioinformatics](https://www.reddit.com/r/bioinformatics/comments/8bo5f2/would_appreciate_your_feedback/)! Don't use it personally but I know quite a few people who do. It's available for [all platforms](https://code.visualstudio.com/) as well and there are some [guidelines](https://gcthesoftwareengineer.com/2017/01/how-to-create-custom-syntax-highlighting-in-a-visual-st

[2018-05-09 04:55] alyeffy opened #33 "Port to Emacs"
Not particularly popular, but based on our [survey](https://github.com/bioSyntax/bioSyntax/issues/30), there is a demand for it. A [guideline](https://stackoverflow.com/questions/2560035/emacs-any-good-guide-about-creating-syntax-highlighting-for-custom-language) is available as well.

[2018-05-09 04:59] alyeffy opened #34 "Package bioSyntax for conda"
bioSyntax for vim, less, and gedit are already packaged together for [Debian](https://ftp-master.debian.org/new/biosyntax_0.1~beta4+dfsg-1.html). If we could create a [conda](https://conda.io/docs/user-guide/tutorials/build-pkgs.html) package as well, anyone with Python's Anaconda can easily install bioSyntax for several editors at once. AND it's cross-platform :)

[2018-05-09 05:04] alyeffy opened #35 "Port for NotePad++/BBEdit/TextWrangler"
These are editors that are pretty limited to certain operating systems. However, if anyone is interested in working on developing them during the Sprint, you're more than welcome to!

[2018-05-09 05:12] alyeffy opened #36 "Optimize Regex Engine for VCF"
One for the computer scientists. Currently, the [catastrophic backtracking](https://www.regular-expressions.info/catastrophic.html) used for the vcf syntax-highlighting definitions makes it load really slowly and likely crashes the editor you are using. Given how huge vcf files can get, optimizing the regular expressions would be really beneficial.
See #2 Task 4

[2018-05-09 06:38] alyeffy commented on #13
#2 task 8

[2018-05-09 07:02] alyeffy opened #37 "Develop Rainbow Parentheses/Rainbow Levels Script for Newick Trees"
For the more biologically-inclined. Develop [Rainbow Parentheses](https://github.com/kien/rainbow_parentheses.vim) or [Rainbow Levels](ttps://github.com/thiagoalessio/rainbow_levels.vim) for Newick Trees and Nexus files. Could possibly be extended to non-biological tree representations for the CS-inclined.

See #2 Task 10

[2018-05-09 07:12] alyeffy opened #38 "Mozilla Sprint 2018"
**Date**: May 10 - May 11 (9:00 am - 5:00 pm PST)
**On-Site Location**: Mozilla Vancouver, #209-163 W Hastings St, Vancouver, BC V6B 1H5, Canada (NOTE: No on-site parking available)
**Contact**: [Alyssa Fegen](mailto:alyssafegen@alumni.ubc.ca) @alyeffy
[Slack Channel](https://biosyntax.slack.com/messages/CAKNDGVQA/) (NOTE: Invite link expires on May 13; contact dev team for invites subsequently)
[

[2018-05-10 01:52] Daniel-Mietchen commented on #1
Consider adding/ curating metadata about the file formats via Wikidata, e.g. as per https://www.wikidata.org/wiki/Q1111641 for FASTA.
The information gathered this way can then be exposed via a dedicated frontend at http://wikidp.org/ .

[2018-05-10 11:59] emulatingkat commented on #1
I created a Wikidata item for the project: [https://www.wikidata.org/wiki/Q52991773](url). I added info about the majority of file formats. Those not yet represented need to be added to Wikidata. If you would be willing to provide pointers to documentation of the file formats that still need to be added I'd be happy to create new items for them in Wikidata. Also possible that they are listed under

[2018-05-10 12:01] emulatingkat commented on #1
Here is the current view in WikiDP: [http://wikidp.org/Q52991773](url).

[2018-06-01 06:58] #38 closed

[2018-06-01 07:41] Dybian commented on #21
Biosyntax is now officially part of [Debian](https://tracker.debian.org/pkg/biosyntax) and [Ubuntu](https://launchpad.net/ubuntu/+source/biosyntax).
Once a non-beta version will be release I will try to push it in backport repositories.

[2018-06-01 07:41] #21 closed

[2018-07-01 02:20] Benjamin-Lee commented on #26
This would be incredibly helpful!

[2018-07-01 02:24] Benjamin-Lee opened #40 "Character highlighting option"
I would like to have the characters themselves highlighted rather than their backgrounds.

Thanks!

[2018-07-02 22:16] alyeffy commented on #40
Hi @Benjamin-Lee, thank you for your interest! I believe some of the file formats have the characters highlighted rather than their backgrounds. Which specific file formats were you referring to where you would prefer to have the characters highlighted instead? Also, which editor(s) would you like this to be available for?

[2018-07-02 22:21] Benjamin-Lee commented on #40
I was specifically thinking of FASTA format. I actually can't use bioSyntax since I use Atom but will definitely use it when a port comes out! I tried to experiment with porting it and had some trouble but would be happy to help out.

If it's the case that character highlighting rather than background highlighting is supported, could we add some screenshots/docs that makes it clear? Thanks!

[2018-07-03 20:02] alyeffy commented on #40
Ah, yes the FASTA format does have the backgrounds of nucleotides highlighted rather than the characters themselves. That should be an easy request to fulfill; in the case of Sublime it's a matter of replacing the foreground colour strings with the background colour strings and then removing the background colour entirely. This has to be done for all defined nucleotides in the bioSyntax.tmTheme XM

[2018-07-03 20:18] alyeffy opened #41 "bioSyntax Slack Channel"
For anyone who is interested in contributing to bioSyntax, we also have a Slack channel where you can ask us any questions or need help with development. Please contact us at [info at biosyntax.org](mailto:info@biosyntax.org) to request an invite. Thanks!

[2018-07-11 17:10] ababaian commented on #32
@liyao001 I've gone through the VSCode and it looks/feels exactly like the sublime version which is great! The only thing I can think of that would be really sweet is automatic switching to the bioSyntax theme when a file with the appropriate file extension is loaded. i.e. For normal code you're using say Solarized, then if you open a fasta file it auto-detects it and switches to bioSyntax. Not su

[2018-07-11 17:11] ababaian commented on #40
@Benjamin-Lee Did you get this working the way that you like?

[2018-07-11 17:14] liyao001 commented on #32
Ok, I'll try both of the two things in the next couple of days~

[2018-07-12 00:35] Benjamin-Lee commented on #40
Not yet, unfortunately

[2018-07-12 15:25] ababaian commented on #40
Which port of bioSyntax are you using?

[2018-07-12 15:26] #41 closed

[2018-07-12 15:26] #37 closed

[2018-07-12 15:26] #36 closed

[2018-07-12 15:28] #35 closed

[2018-07-12 15:28] #34 closed

[2018-07-12 15:29] #33 closed

[2018-07-12 15:32] ababaian commented on #32
That's great! I found that even before I installed bioSyntax in VSCode and opened a `sam` file it 'suggested' bioSyntax as a package to install. Then I would click yes it would install and the coloring looked strange because it wasn't the correct theme and there was no documentation which suggested this was anything but the intended coloring scheme. Like this I think it's all much more seamless. G

[2018-07-12 15:32] #32 closed

[2018-07-15 18:20] Benjamin-Lee commented on #40
I actually can't use bioSyntax yet since I use Atom; have been too busy recently to work on doing a port but it's on my agenda

[2018-07-19 16:42] ababaian opened #43 "New devs as co-authors"
Hey @liyao001 @Dybian,

You've both made a substantial contribution to bioSyntax. I just got a response from the editor of the journal we've submitted our manuscript to and I'll have to write up a few quick revisions and send it back in again.

This means I'll be able to add to the author list for the [publication](https://www.biorxiv.org/content/early/2017/12/20/235820). Can you please both let m

[2018-08-04 04:36] #43 closed

[2018-08-16 17:09] #30 closed

[2018-08-28 20:11] pabloivan opened #44 "Strange characters in fastq file"
Hello,

I've just installed bioSyntax on Linux Mint (Linux bioinfo 4.13.0-37-generic #42~16.04.1-Ubuntu SMP Wed Mar 7 16:03:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux) and when using it to `less` a fastq file, I bump into some weird formatting.

`head` gives me the following:
pablo@bioinfo ~ $ head Linf_seq.fastq
@genomic_region:1202-1837W:gene-0010:2:636:574:914:S
ATGAGCCGGAGGCGGTGCGGATGCAGGAGCCG

[2018-08-28 21:51] pabloivan commented on #44
Hi, thanks for following on this.

Yes, I just tried with another file and this formatting is the same:

![less](https://user-images.githubusercontent.com/1887418/44752975-0c9a1700-aaf3-11e8-9b9e-cb17c7869f8b.png)

`head` of the file:
``@SRR1596495.16 CCRI0219:139:D24LHACXX:6:1101:7035:1970 length=51
AATCGGTAGTAGCGACGGGCGGTGTGTACAAGGCCCGGGAACGTATTCACC
+
@CCFFFDFHHHHGIJJIJGGIJA@BHHFHEHHFFFFABBBBDDD

[2018-08-28 22:26] ababaian commented on #44
What terminal are you using? This looks like an issue with an escape character not being closed normally and causing the first character to be lost on the `@` sign line.

[2018-08-29 00:03] pabloivan commented on #44
I'm running terminator. Weird thing is that I've opened many fastq files
before using it and this is the first time it happened.

Em Ter, 28 de ago de 2018 19:26, Artem Babaian <notifications@github.com>
escreveu:

[2018-08-29 02:47] ababaian commented on #44
Did you open it many times before with bioSyntax installed? It looks like it's just a compatibility error.  If you try the above fixes let me know if it corrects the issue.

[2018-08-30 15:43] pabloivan commented on #44
Thank you very much, @ababaian ! It worked :+1:

[2018-09-05 17:38] #22 closed

[2018-10-27 07:09] grabear opened #45 "OBF Newsletter submission"
The OBF is about to release a Newsletter and they are welcoming self promotion of open source bioinformatics projects.  I thought I'd give you guys a heads up in case you're interested.

https://twitter.com/obf_news/status/1054126100891291651?s=19

[2019-02-13 18:01] jennifertran opened #46 "Support for FSA Files Syntax"
I'm wondering if it's possible to implement syntax support for FSA files which are fragment analysis data file created by DNA sequencers and analyzers.

[2019-02-13 20:11] ababaian commented on #46
Hey jennifer. If you can find a file specification sheet for FSA files for me and tell me which software you're using (sublime/vim/gedit..?). I can most likely hammer this out in an evening.

[2019-02-13 20:28] jennifertran commented on #46
As far as I can tell FSA is pretty much the same as FASTA files but used for analyzing different sequences. File specification can be [found here](https://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&PAGE_TYPE=BlastDocs&DOC_TYPE=BlastHelp)

[2019-02-13 20:44] ababaian commented on #46
If you just want  the fasta color scheme to work with *.fsa file extensions then add the line:
`au BufRead,BufNewFile *.fsa set filetype=fasta`

to the `~/bioSyntax/vim/ftdetect/fasta.vim` file which should be stored in your `~/.vim/ftdetect/fasta.vim` folder on your system.

[2019-02-13 21:33] jennifertran commented on #46
That works for me, thank you so much!

[2019-02-13 23:48] #46 closed

[2019-06-14 17:47] alanhoyle opened #49 "Update the VSCode extension?"
Hey all,

When I install the bioSyntax extension into my VSCode installation, it seems to be getting a slightly older version of the underlying JSON.  E.g. the changes present here that change the language-configuration.json and syntaxes/cwl.tmLanguage.json don't seem to have propogated there.

[2019-06-15 00:49] ababaian commented on #49
@liyao001 can you propagate the updates to the microsoft workspace please?

[2019-06-15 04:23] liyao001 commented on #49
Ok, I'll try to update it.

[2019-06-19 10:07] GotthardG commented on #26
I totaly agree!

[2019-09-14 16:56] Benjamin-Lee opened #50 "Option to disable automatic theme switching in VSCode"
I use One Dark and find that bioSyntax is perfectly usable when I manually change it back with a FASTA file open. I do find the theme changing to be slightly jarring. Is it possible to create an option to disable automatic theme switching in VSCode?

One Dark:
<img width="690" alt="image" src="https://user-images.githubusercontent.com/13618205/64911378-07ecd480-d6ef-11e9-8acc-12d8021aa8f8.png">

b

[2019-09-14 21:06] liyao001 commented on #50
bioSyntax for VSCode works as a combination of both theme and script. For most file types, bioSyntax uses the defined theme rules to render files. In implementation, bioSyntax's theme is actually an extension of the default theme (dark VS), and I'm not sure whether VSCode accept partially defined themes, which we only define themes on interested content. For other files (like fasta file), we use s

[2019-11-16 01:04] trutane commented on #50
I ran into this issue when attempting to switch my color theme for editing code and other non-bio files. My fix was to disable the bioSyntax extension to prevent its automatic theme switching which would revert the active theme in my workspace back to whatever was in my settings.json.

See my comments on the VSCode reddit:
https://www.reddit.com/r/vscode/comments/dftwew/workbenchcolortheme_rewrite

[2019-11-19 13:28] Ebedthan commented on #50
Yes, of course, I think it's a good idea. Let me dig into your proposition and see if we can fix it as soon as possible.

[2020-02-10 17:32] matthewstuartedwards opened #51 "Overrides existing .bashrc with .bash_profile"
I use .bashrc to configure my shell, but bioSyntax created a .bash_profile which seems to be loaded first.  I noticed that aliases and other configuration from .bashrc wasn't being executed after installing bioSyntax.

Looks like bioSyntax is missing something important from .bash_profile.

[code]

This should load any existing configurations.

[2020-02-10 21:07] ababaian commented on #51
Good call, thanks :)

[2020-02-10 21:07] #51 closed

[2020-02-22 00:35] cmdcolin opened #52 "Installed biosyntax-less from apt, don't have sam-less or vcf-less?"
Just curious if those would be intended to be installed? I couldn't find it installed on my system and looked at a package file list here https://packages.debian.org/sid/all/biosyntax-less/filelist

[2020-02-22 00:36] cmdcolin commented on #52
Kudos to having an apt package though makes installing very easy :)

[2020-02-22 00:38] ababaian commented on #52
Check your `.bash_rc` or `.bash_profile` for an `ALIAS`, it's not a stand-alone binary just a wrapper for piping the data.

[2020-02-22 00:51] cmdcolin commented on #52
Thanks, I went ahead and added these to my zprofile and it works now. I can close for now but if there can be an install that didnt require this manual step that would be great

[2020-02-22 00:51] #52 closed

[2020-03-07 19:40] gmseabra commented on #50
I'm having the same problem. I'd rather use the Default Dark theme for python files, but if bioSyntax in enabled it keeps changing the theme back to it whenever I switch tabs or save. Apparently, the problem is that it keeps rewriting the json file, and overwrites any change we make.

Would it be possible to associate bioSyntax only to certain file extensions?

[2020-03-07 21:15] ababaian commented on #50
@liyao001 is the guy with the plan, I haven't worked on the VSCode implementation.

[2020-03-07 21:32] liyao001 commented on #50
VSCode doesn't provide support for minimum themes, which means as a new plugin/theme, if you want to change the appearance of the editor, you have to provide definition for everything. So for bioSyntax for VSCode used the default dark theme as it's base, and I'm considering to release a new version of bioSyntax for VSC using the build-in light theme.

Different color themes for different languages

[2020-03-09 16:50] gmseabra commented on #50
I may be wrong, but I think the issue here is different. It's not about the definitions in bioSyntax, it it is the fact that, once the bioSyntax plugin s enabled, we cannot choose change to other theme. It just keeps changing the theme to bioSyntax whenever we change tabs or save the file.

So, the question is not about the theme itself, but why does it prevent us to change the theme without havin

[2020-04-21 16:02] moldach opened #53 "Trouble installing biosyntax on Ubuntu 19.04"
I'm having trouble with the installation of bioSyntax on Ubuntu 19.04:

[code]

Try to run a command:

[code]

So next I try the manual installation:

[code]

[2020-04-21 19:51] moldach commented on #53
The basic install doesn't work for `vim`/`less`/_etc._.

I've tried following the manual installation advice for `less`  as well as `vim` and still getting errors:

[code]

[code]

Now the command `sam-less` is available up but when I try to run it all I see are `?`'s and this is being output to console:

[code]

Any idea what's wrong?

[2020-04-22 02:39] moldach commented on #53
This is frustrating, I've been messing around with this for hours. I'm at the point now where it says:

[code]

[2020-04-22 04:06] ababaian commented on #53
Hey @moldach give me a few minutes I'll take a look on a clean machine.

[2020-04-22 04:43] ababaian commented on #53
I can confirm the manual install does work with Ubuntu 19.04, the debian repository does not.

[code]

![Screenshot from 2020-04-21 21-37-22](https://user-images.githubusercontent.com/9220907/79941309-89f66600-8453-11ea-8bc1-6b41eeb9cfc7.png)

[2020-04-22 06:31] daissi commented on #53
@ababaian What is the problem with  `apt-get install biosyntax-less`?

@moldach Could you try to disable conda before to install and test biosyntax?

[2020-04-22 15:27] ababaian commented on #53
Not sure, I logged into a blank 19.04 machine, installed but it didn't work. It could be because there was no `~/.local/share/source-highlight` folder on the instance version of ubuntu but I didn't debug it.

[code]

[2020-04-22 16:41] moldach commented on #53
@daissi after `conda deactivate` and `sudo apt install biosyntax-less` it still doesn't work; there is no `~/local/share/source-highlight` folder created.

@ababaian following your instructions:

[code]

Let's just take a quick look in `$SRC` before running the next command:

[code]

Okay now try:

[code]

[2020-04-22 18:54] ababaian commented on #53
Are you using `bash` or `zsh`? You need to append the biosyntax information to your `.bashrc` file and restart your computer or start a new bash session by first typing `bash` and then trying

[2020-04-22 19:21] moldach commented on #53
I'm using `bash`. One of the issues was that I had an old `rc_append.txt` in my `~/.bashrc`. I've now removed that and replaced with the correct one (following the instructions above). This is what the `~/.bashrc` looks like now:

[code]

I've reset my compute and tried again:

[code]

This is all that I see:

![biosyntax](https://user-images.githubusercontent.com/5749465/80024371-2cd2d280-849c-11

[2020-04-22 19:48] ababaian commented on #53
Can you try `sam-less -` or convert the bam to a sam file and open that directly with `sam-less <samfile>`

[2020-04-22 21:25] moldach commented on #53
I've tried both of those with the same result: a chain of `~`'s separated by `:...skipping...`

[2020-04-22 21:55] ababaian commented on #53
:shrug:
can you try
`which sam-less`

and

` ls -alh $HIGHLIGHT/*`

[2020-04-23 21:07] moldach commented on #53
This is what I'm seeing today.

[code]

[2020-04-23 21:32] ababaian commented on #53
It might be an `alias` issue. Try
[code]

as I have `artem@glitch[artem] which sam-less`
[code]

[2020-04-23 22:42] moldach commented on #53
Okay I tried what you have but all I see is a blank screen.

[code]

Then I have to hit `Crtl + C`, which bring me to a a bunch of `~`'s and I can hit `q` to quit `less`

[2020-05-08 15:15] allamiro opened #54 "Biosyntax with Jupyternotebook"
Can we use Biosyntax with Jupyter notebook  ?  What are the suggestions if we want to include it in to Jupyter notebook to use it with Biopython code ? extension ?

[2020-05-08 15:48] ababaian commented on #54
That would be really dope!
Are you thinking about highlighting the markdown sections with code "``` code here ```" or in the output blocks if there's biological data like `samtools view -h mybam.bam | head -n 100 `

[2020-05-08 15:55] ababaian commented on #54
So sorry I don't have time right now to develop this. But if you're using the bash kernel in Jupyter Notebooks, the regular command line bioSyntax will in fact work. This command is usually piped to `less` by default, but with a little bit of hacking you can remove that and make a bioSyntax `cat` to print highlighted output. I'm busy at the moment to do this, but if you're up for it it's a small-i

[2020-05-30 16:10] smk508 commented on #50
Hey guys, is there any progress on this? I like having a syntax highlighter for biological file formats, but I don't like that it forces everything to use the same color theme and doesn't let me switch back.

In particular I noticed that sometimes, it doesn't let me change the theme back for me at all. The theme can get stuck on bioSyntax, and if I go into settings and try to change it, it changes

[2020-08-26 14:10] avilella opened #55 "amino-colouring for less"
Hi, this may already be possible but I couldn't find how: is there a way to colour by aminoacid in less?

I see there is something about alignments in the TODO list item, but I guess I just want the 20 aa zappo colouring activated for the less command, regardless of the format piped into it.

[2020-08-26 16:01] #53 closed

[2020-08-26 16:02] #54 closed

[2020-08-26 16:04] ababaian commented on #55
This is very much possible, but what do you mean regardless of format? As in it will be like a fasta file without a header, in which case I'd suggest modifying the regular fasta syntax files to do this.

[2020-08-26 16:16] avilella commented on #55
I gave it a go but it seems some colours (orange, etc.) are not defined the
same way in the 'less' files as they are in the pdb equivalent, because
they don't produce any colouring. E.g.:

[code]

On Wed, Aug 26, 2020 at 5:04 PM Artem Babaian <notifications@github.com>
wrote:

[2020-08-26 16:46] ababaian commented on #55
in your `~/.config` file you'll need to swap out the color file (outlang) used as well or amend them to recognize the new colors.

[code]
-->
[code]

[2020-08-26 18:07] avilella commented on #55
Perfect, I got it working with biosyntax-vcf.outlang

[2020-08-26 18:07] #55 closed

[2020-11-22 07:45] ShrirajHegde commented on #50
Yes same, Even if I change the theme, once I open a format compatible with the extension this extension changes the theme to biosyntax permanently

[2020-12-06 03:19] bosborne opened #56 "Enanble "Extension Settings" in the VS Code package"
My understanding is that BioSyntax can color amino acids in multiple ways, including Fasta Clustal (Default), Fasta Hydrophobicity, Fasta Zappo, and Fasta Taylor. I'd like to be able to select one of these options in VS Code, which I think would be accomplished using Extension Settings.

[2021-03-11 16:49] MeHelmy opened #57 "src-hilite-lesspipe-bio.sh: No such file or directory"
I tried to install without sudo
as a result, less was not able to open zipped files ex: `less something.vcf.gz` that was possible before
also, I have this error now
/bin/bash: /users/mmahmoud/.local/share/source-highlight/src-hilite-lesspipe-bio.sh: No such file or directory (I removed this directory)

How I can totally delete all files produced form the bioSyntx tool?

[2021-03-11 17:46] ababaian commented on #57
You'll want to remove the `BIOSYNTAX` region of your `.bashrc` / `.zshrc` file in your home directory `/users/manhmoud/`. Restart your computer and the command line will work as before.

Biosyntax requires `source-highlight` as a dependency, so if you've removed that then it should be OK. There is a `biosyntax_UNINSTALL.sh` script which will remove any other folders, but mainly for `less` it's all

[2021-03-14 03:12] #57 closed

[2021-04-01 02:23] leeleavitt commented on #50
this is making me lose my hair... What can be done?

[2021-07-13 00:38] here0009 commented on #50
I got the same issue, is this issue fixed.  I set `"workbench.colorTheme": theme_name` in the workbench ` setting.json` file to use other theme.

[2021-07-13 08:03] sguizard opened #58 "vim-addons: "Warning: ignoring 'biosyntax' which is missing source files""
Hi!

I installed the biosyntax package using apt, then I try to activate the plugin using vim-addons as stated in `/usr/share/doc/biosyntax-vim/README.Debian`. I get the following error:
[code]
Package version: biosyntax 1.0.0b-2
OS: Ubuntu 21.04

[2021-07-29 10:16] #49 closed

[2021-07-29 10:25] Ebedthan commented on #50
PR #59 solves this issue. Once @liyao001 releases the updated version of the vscode plugin we should be done :)

[2021-07-29 10:45] Ebedthan commented on #20
Hi @alyeffy, ass bioSynta can be installed from the package manager of vscode and sublime, and with the installer script provided in the bioSyntax tarball, is the idea of creating a brew formula still necessary?

[2021-07-29 11:47] liyao001 commented on #50
Glad to see a solution to this problem, thank you MillironX! I will work on rebuilding the plugin and uploading it to VS later today.

Update: Changes synchronized to VS Marketplace.

[2021-07-29 17:33] #50 closed

[2021-07-30 00:04] alyeffy commented on #20
Hi @Ebedthan, maybe we can let @ababaian decide if it is still an avenue we want to pursue or not. Brew is a vital package manager that practically every Mac user that has ever dipped their feet development in any way at all has installed and used it, and Mac developers will definitely use it on the regular. The main thing holding back the development of this at the time this was proposed was mini

[2021-07-30 00:52] Ebedthan commented on #20
I agree with you about brew. I also use it even on Linux. We can create the brew formula. I just want have your feedback on it's current necessity.

[2021-07-30 11:44] ababaian commented on #20
It's for sure a nice to have feature, will let the accessibility of bioSyntax improve a bit. We should keep the issue up if someone decides to tackle it :)

[2021-08-03 14:41] harryjubb opened #60 "VSCode: bioSyntax extension causes theme to reset to VSCode default"
Issue Type: <b>Bug</b>

Issue: When making a new tab and editing it, or switching tab, the VSCode theme is always reset to the default dark VSCode theme. After setting the theme preference, the theme is always overwritten upon editing in a different tab.

I used extensions bisect to identify that bioSyntax was the cause of the issue.

Extension version: 0.0.11
VS Code version: Code 1.58.2 (c3f1263

[2021-08-04 00:38] liyao001 commented on #60
MillironX helped [fix this issue](https://github.com/bioSyntax/bioSyntax/issues/50). You can assign a theme for all other file types by the following steps:
* Locate the settings for bioSyntax by clicking:
    1. Extensions
    2. bioSyntax (Manage)
    3. Extension Settings

    ![](https://github.com/liyao001/bioSyntax/raw/vscode/vscode/resources/bioSyntax_setting.png)

* Change the value of `Bi

[2021-08-04 19:42] harryjubb commented on #60
@liyao001 thanks for your quick reply, much appreciated.

This issue only started happening for me within the last few days, and as a user it was frustrating because it wasn't at all clear what was causing my theme to revert. I ended up spending a fair amount of time diagnosing it.

Is there a reason that Biosyntax can't leave the user's theme choice alone when the user isn't in a compatible file:

[2022-03-22 13:16] MillironX opened #61 "Publish the VSCode extension to Open VSX"
[Open VSX] is a third-party registry for Visual Studio Code extensions. It is used by [VSCodium] and [Gitpod], among others. It would be extremely useful to have the bioSyntax extension uploaded to the Open VSX registry so it can be used in those places.

Instructions for uploading extensions to Open VSX can be found at <https://github.com/eclipse/openvsx/wiki/Publishing-Extensions>.

Ping @liyao0

[2022-03-22 19:54] liyao001 commented on #61
I think it's worth porting the plugin to Open VSX; I'll work on it later this week.

[2022-03-27 15:54] liyao001 commented on #61
bioSyntax is now on [Open VSX Registry](https://open-vsx.org/extension/reageyao/biosyntax). In the next update, I will try to add a CD workflow for publishing both VS marketplace and Open VSX extensions.

[2022-03-27 15:54] #61 closed, assigned to nobody

[2022-05-11 06:55] arcresu commented on #58
This is an issue with the Debian package [Debian#1010834](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1010834) which adds the integration with `vim-addon-manager` (which itself is a Debian-specific thing).

[2022-07-21 15:06] MSMortensen commented on #56
I comment here as this is related.

Please add an option in "Extension Settings" to include additional file endings.
Currently, .fasta files are formatted, but not .fna.

[2022-07-21 15:25] ababaian commented on #56
Does this work for you @MSMortensen
https://stackoverflow.com/questions/29973619/how-to-make-vs-code-treat-a-file-extensions-as-a-certain-language

It's not hard-coded but should be quick to associate a filetype with a syntax.

[2022-07-21 16:13] MSMortensen commented on #56
Hi,
That works and might be a way to be a solution to @bosborne  as well
In short I added the file association to my settings.json file and that solved it.
Thanks!

[code]

[2022-08-15 18:32] jayagami opened #63 "[Feature] section folding for fasta"
Hi, Thanks for your great work.
Currently I am using vscode plugins.
I wondering if there is possibility to add section folding for fasta fomat files.

[2022-08-15 21:00] ababaian commented on #63
That's a really good idea; @liyao001 ould know if it's feasible

[2022-08-15 23:46] liyao001 commented on #63
It will be very useful to let VS code recognize different sequences and add fold signs to each of them in the sidebar. I'll look into this later. For now, you can manually fold sequences by the following steps:
1. selecting lines you want to fold
2. pressing <kbd>Ctrl</kbd>+<kbd>K</kbd>
3. pressing <kbd>Ctrl</kbd>+<kbd>,</kbd>

<img width="434" alt="image" src="https://user-images.githubuserconten

[2022-08-16 16:50] jayagami commented on #63
Thank you for your reply, using manual folding does look better, but automatic folding is more efficient when dealing with multiple sequences.
Thanks again for your work.

[2022-08-16 16:50] #63 closed, assigned to nobody